---
---
/*
#2C3E50
#E74C3C
#ECF0F1
#3498DB
#2980B9
*/
$background:#2C3E50;
$primary:#ECF0F1;
$secondary: darken($primary,25%);
$highlight:#E74C3C;
$extra-primary:#3498DB;

body{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  color:$primary;
  background-color: $background;
}

nav,footer{
  color: $secondary;
  width: 100%;
  position: fixed;
  left: 0;
  color: $secondary;

  ul{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    list-style: none;
    font-weight: bold;

    li{
      display: inline;
      margin-right: 0.5em;
    }
  }
}

footer{
  bottom: 0;
}

nav{
  top: 0;
}

a{
  text-decoration: none;
  color: $extra-primary;
  &:hover{
    text-decoration: underline;
    color: darken($extra-primary, 25);
  }
  &:visited{

  }
}
