---
---
/*
#DC3522
#D9CB9E
#374140
#2A2C2B
#1E1E20
*/

$primary:#2A2C2B;
$secondary:#1E1E20;
$extra:#374140;

$highlight:#DC3522;

body
{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  color:$primary;
}
nav,footer{
  background-color: $highlight;
  color: $secondary;
}

nav ul, footer ul{
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li{
  display: inline;
  margin-right: 0.5em;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
