---
layout: default
title: James Walker
---
<h2 class="center">Games Programmer, Web Developer, VR Content Creator.</h2>

<div class="grid">
<a href="/blog">
  <div class="item"{%if page.bg %}style="background-image: url({{page.bg}})"{%endif%}>
    <p>Blog</p>
  </div>
</a>
<a href="/projects">
  <div class="item"{%if page.bg %}style="background-image: url({{page.bg}})"{%endif%}>
    <p>Projects</p>
  </div>
</a>
<a href="/contact">
  <div class="item"{%if page.bg %}style="background-image: url({{page.bg}})"{%endif%}>
    <p>Contact Me<p>
  </div>
</a>
</div>
