<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <!-- link to main stylesheet -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.js"></script>
    <script src="https://use.fontawesome.com/0c1830b666.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/toto.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">

  </head>
  <body>
    <div class="panel">
      <div class="content">
        {{content}}
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $('.bxslider').bxSlider({
          auto: true
        });
      });
    </script>
  </body>
</html>
